<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="../vue.js"></script>
        <style>
            table{width: 100%;}
            th, td{text-align: left;padding: 10px;}
            .v-enter,
            .v-leave-to{
                opacity: 0;
                transform: translateY(150px);
            }
            .v-enter-active,
            .v-leave-active{
                transition: all 1s ease;
            }
        </style>
    </head>

    <body>
        <div id="app">
            名称:<input type="text" v-model="name">
            价格:<input type="number" v-model="price">
            <button @click="add">添加</button>
            查询:<input type="text" v-model="query" @input="select">
            <table>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>操作</th>
                </tr>
                <transition-group>
                    <tr v-for="item of goodsListCopy" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td><button @click="deleteGood(item.id)">删除</button></td>
                    </tr>
                </transition-group>
            </table>
        </div>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        name: '',
                        price: '',
                        id: 6,
                        query: '',
                        goodsList: [
                            { id: 1, name: 'aaaa', price: 12 },
                            { id: 2, name: 'aabbb', price: 13 },
                            { id: 3, name: 'aacc', price: 15 },
                            { id: 4, name: 'bbgg', price: 10 },
                            { id: 5, name: 'bbww', price: 11 }
                        ],
                        goodsListCopy: []
                    }
                },
                created(){
                    this.goodsListCopy = this.goodsList;
                },
                methods: {
                    deleteGood(id){
                        this.goodsList = this.goodsList.filter(function(item){
                            return item.id != id;
                        });
                        this.goodsListCopy = this.goodsList;
                    },
                    add(){
                        if(this.name && this.price){
                            this.goodsList.push({
                                id: this.id++,
                                name: this.name,
                                price: this.price
                            });
                        }
                        this.goodsListCopy = this.goodsList;
                    },
                    select(){
                        var _this = this;
                        this.goodsListCopy = this.goodsList.filter(function (item) {
                            console.log(item.name);
                            console.log(_this.query);
                            console.log(item.name.indexOf(_this.query));
                            return item.name.indexOf(_this.query) >= 0;
                        });
                    }
                }
            });
        </script>
    </body>

</html>