<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <script src="../vue.js"></script>
    </head>

    <body>
        <div id="app">
            id:<input type="number" v-model="id"/>
            name:<input type="text" v-model="name" />
            <button @click="add">add</button>
            <ul>
                <!-- 没key选中后添加会出错 -->
                <li v-for="user of users" :key="user.id"><label><input type="checkbox"/>{{user.id}}-----{{user.name}}</label></li>
            </ul>
        </div>
        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        id: '',
                        name: '',
                        users: [
                            { id: 1, name: 'aaa' },
                            { id: 2, name: 'bbb' },
                            { id: 3, name: 'ccc' },
                        ]
                    }
                },
                methods: {
                    add(){
                        this.users.unshift({ id: this.id, name: this.name});
                    }
                }
            });
        </script>
    </body>

</html>